@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: "Epilogue", sans-serif;
    background-color: hsl(0,0%,98%);
}


.header_title{
    font-size: clamp(2rem, 5.35vw + .1rem, 10rem);
}

.header_p{
    font-size: clamp(1rem,  1w + .1rem, 5rem);

}

.p_font{
    font-size: clamp(1.1rem,  1.2vw + .1rem, 5rem);

}